<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="./vue.js"></script>
        <style>
        </style>
    </head>    
    <body>
        <div id="app">
            <span>Paciente</span>
            <input type="text" v-model="paciente">
            <br>
            <ul>
                <li v-for="p in lista">{{p.nome}} , {{p.idade}}</li>
            </ul>
        </div>

        <script>
            const vm = new Vue({
                    el: '#app',
                    data: {
                        paciente:'',
                        pacientes:[
                            {nome: 'Jorge SantAnna', idade:'32'},
                            {nome: 'João Santos', idade:'45'},
                            {nome: 'José Augusto', idade:'10'},
                            {nome: 'Júnior Silva', idade:'20'},
                            {nome: 'Julio Nogueira', idade:''},
                        ],
                        lista:[],
                    },     
                    computed:{
                    },      
                    watch:{
                        paciente(valorNovo){
                            console.log(valorNovo)
                            this.lista = this.pacientes.filter(p => p.nome.match(valorNovo))
                        }
                    },            
                    methods:{                   
                    },
                });
        </script>
    </body>
    
</html>